@model Aula1206.Models.Categoria


@{
    ViewBag.Title = "Adicionar Categoria";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @*<b>Nome:</b>*@
    @Html.LabelFor(m=> Model.Nome)
    @*@Html.TextBox("Nome")*@
    @Html.EditorFor(m => Model.Nome)
    @Html.ValidationMessageFor(m=> Model.Nome)

    @*<b>Descrição</b>*@
    @Html.LabelFor(m => Model.Descricao)
    @*@Html.TextBox("Descrição")*@
    @Html.EditorFor(m => Model.Descricao)

    @Html.LabelFor(m => Model.Ativo)
    @Html.EditorFor(m => Model.Ativo)

    <input type="submit" value="Adicionar" class="btn btn-default" />
}

